// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.my-class {
  color: red;
  text-align: center;
}
.image-container {
  text-align: center;
}
.image-one,
.image-two,
.image-three,
.image-four {
  height: 25 0px;
  width: 250px;
}

.chocolate-sweets {
  text-align: center;
  border: 0;
}

.form-control {
  border: 0;
}

.flan-text {
  text-align: center;
}

.sofrito {
  text-align: center;
}

.user-info {
  text-align: center;
}
